APP_PORT=3000

NODE_ENV=development

SESSION_LIFETIME=18000
JWT_EC_PRIVATE_KEY="-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEINgx9I8lA/3s8ohGF9aaylUBeLHQ3jvJhlzmf5k364T6oAoGCCqGSM49\nAwEHoUQDQgAEWf1JGmFJajegx2sGo6RFSnkPmcVuCmA8pJ7CmkcWZne4pfe17TrY\nHsMfpLmnKFltj5OLOvtAyAhml7EDxnQmQA==\n-----END EC PRIVATE KEY-----"
JWT_EC_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEWf1JGmFJajegx2sGo6RFSnkPmcVu\nCmA8pJ7CmkcWZne4pfe17TrYHsMfpLmnKFltj5OLOvtAyAhml7EDxnQmQA==\n-----END PUBLIC KEY-----"

LOG_LEVEL=info

MANAGER_BASE_URL=http://localhost:4000
SECRET_KEY='tenant-core-1234567890'

DATABASE_USER=postgres
DATABASE_PASSWORD=amir1385
DATABASE_NAME=core_db
DATABASE_TEST_NAME=core_test_db
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432